nav {
	margin: 27px auto 0;
	position: relative;
	width: 800px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 100px;
}
a:nth-child(3) {
	width: 200px;
}
a:nth-child(4) {
	width: 100px;
}
a:nth-child(5) {
	width: 100px;
}
a:nth-child(6) {
	width: 100px;
}
a:nth-child(7) {
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-film, a:nth-child(2):hover~.animation {
	width: 100px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-search, a:nth-child(3):hover~.animation {
	width: 200px;
	left: 200px;
	background-color: #3498db;
}
nav .start-entry, a:nth-child(4):hover~.animation {
	width: 100px;
	left: 400px;
	background-color: #9b59b6;
}
nav .start-booking, a:nth-child(5):hover~.animation {
	width: 100px;
	left: 500px;
	background-color: #e67e22;
}
nav .start-account, a:nth-child(6):hover~.animation {
	width: 100px;
	left: 600px;
	background-color: #e622a5;
}
nav .start-help, a:nth-child(7):hover~.animation {
	width: 100px;
	left: 700px;
	background-color: #6d6258;
}

body {
	font-size: 12px;
	font-family: sans-serif;
  background: #2c3e50;
  color: #ecf0f1;

}

p.error {
	color: lightcoral;
	font-family: verdana;
	font-size: 16px;
	text-align: center;
}
p.success {
	color: #42c58a;
	font-family: verdana;
	font-size: 16px;
	text-align: center;
}
h1 {
  color:#fff;
  font-size:36px;
  font-weight:bold;
  text-align: center;
	width: 30%;
	background:#42c58a;
	margin: auto;
	border-radius: 8px;
	margin-top: 25px;
}
h1.first-view{
	background:#42c58a;
	border-radius: 0px;
	font-size: 30px;
	font-weight:bold;
}
h1.h1-login{
	background:#4291c5;
	font-size: 40px;
	font-weight:bold;
	width: 50%;
	margin-top: 5%;
}
h3 {
  color:#fff;
  font-size: 18px;
  text-align: center;
}
h2 {
	color:#fff;
	background:#4291c5;
	border-radius: 0px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	width: 40%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
h2.mem-help{
	background: #6d6258;
}
h2.mem-film{
	background: #e74c3c;
}
h2.mem-search{
	background: #3498db;
}
h2.mem-booking{
	background: #e67e22;
}
h2.mem-account{
	background: #e622a5;
}
h2.mem-entry{
	background: #9b59b6;
}
p.warning {
	color: red;
	font-size: 14px;
}

p.p-centre {
	text-align: center;
	font-family: Arial;
}
.container {
	display:flex;
	flex-direction:row;
	justify-content: center;
	width: 100%;
}		
.mytable {
	width: 50%;
}
.resultbuttons {
	width: 50%;
}
.resultbutton {
	width: 100%;
}
input, select{
	border:2px solid #aaa;
	border-radius:4px;
	margin:8px 0;
	outline:none;
	padding:8px;
	box-sizing:border-box;
	transition:.3s;
}

select:focus{
	border-color:dodgerBlue;
	box-shadow:0 0 8px 0 dodgerBlue;
}

input:focus{
	border-color:dodgerBlue;
	box-shadow:0 0 8px 0 dodgerBlue;
}
.logout-btn {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background-color: #34495e!important;
	padding:4px 38px;;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap
	
}
.link-btn{
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background-color: #34495e!important;
	text-align:center;
	text-decoration:none;
}
.logout-btn:hover{
	border-color:dodgerBlue!important;
	box-shadow:0 0 8px 0 dodgerBlue!important;
}
.link-btn:hover{
	border-color:dodgerBlue!important;
	box-shadow:0 0 8px 0 dodgerBlue!important;
}
.welcome {
	width: 180px;
	padding-top:2px;
	text-align: center;
	margin-left:auto;
	margin-right:0
}
input.seatsRequired{
	color:red;
	margin: 0px;
}
input.resultbutton{
	border:2px solid #aaa;
	border-radius:12px;
	padding:0px;
	margin: 2.6px;
}

input.resultbutton:hover{
	border-color:dodgerBlue;
	box-shadow:0 0 8px 0 dodgerBlue;
}
.container{
	margin-top: 0px;
	line-height: 16pt;
	text-align: center;
}
.div-centre{
	text-align: center;
}
hr.main{
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
ul.help {
  background: #6d6258;
	padding: 20px;
	list-style-type: none;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 10px;
}
ul.help li {
	margin: 5px;
	background: #524942;
	font-size: 15px;
	line-height: 20pt;
	border-radius: 5px;
	padding: 5px;
}

b.help{
	color: black;
	background: #6d6258;
	border-radius: 5px;
	padding: 2px;
}

ul.login {
  background: #4291c5;
	padding: 20px;
	list-style-type: none;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 5%;
	border-radius: 10px;
	text-align: center;
}
ul.login li {
	margin: 5px;
	background:#84a2b6;
	font-size: 15px;
	line-height: 20pt;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
}